src/main/resources/schema/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://trilia-cloud.com/schema/common/util" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://trilia-cloud.com/schema/common/util" elementFormDefault="unqualified">
	
	<xs:include schemaLocation="CommonTypes.xsd"/>
	
	
	<xs:element name="revision-control" type="tns:revisionControlBean"/>
	
	<xs:element name="sort-criteria" type="tns:sortCriteriaBean"/>
	
	<xs:element name="page-request" type="tns:pageRequestBean"/>

	<xs:element name="paged-response" type="tns:pageResponseBean"/>
	
	<xs:element name="search-criteria"  type="tns:searchCriteriaBean"/>
	

</schema>